<html>
  <style>

body{
    background: #fab91a;
}
  </style>  
<body>
    <div class="faire">
        <img src="assets/image/logoblanc.png" height="95" alt="">
    </div>
    <form class="signup">
       
        <div class="signup__field">
          <input class="signup__input" type="email" name="email" id="email" [(ngModel)]="email"  required />
          <label class="signup__label" for="email">Email</label>
        </div>
      
        <div class="signup__field">
          <input class="signup__input" type="password" name="password" id="password" [(ngModel)]="password"  required />
          <label class="signup__label" for="password">Mot de passe</label>
        </div>
        <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="" *ngIf="loading">
          <mat-progress-spinner
          class="sipinner"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>
        </div>
        <button type="submit" (click)="Login()">Se connecter </button>
      </form>
</body>

</html>
