
<div *ngIf="show">
    <span>

        <i class="fa fa-spinner fa-spin" [ngStyle]="{'font-size': size+'px'}" aria-hidden="true" style="top: 0px; left:200px; position:absolute; right: 200px; bottom: 200px;"></i>

    </span>
 </div>
